In [1]:
import camelot
import pandas as pd

In [5]:
tables= camelot.read_pdf('sample.pdf')

In [14]:
print(tables)
print(tables[0])

<TableList n=1>
<Table shape=(6, 6)>

In [6]:
new_tables=tables[0]

In [7]:
new_tables.df

,0,1,2,3,4,5
0,Disability \nCategory,Participants,Ballots \nCompleted,Ballots \nIncomplete/ \nTerminated,Results,
1,,,,,Accuracy,Time to \ncomplete
2,Blind,5,1,4,"34.5%, n=1","1199 sec, n=1"
3,Low Vision,5,2,3,"98.3% n=2 \n(97.7%, n=3)","1716 sec, n=3 \n(1934 sec, n=2)"
4,Dexterity,5,4,1,"98.3%, n=4","1672.1 sec, n=4"
5,Mobility,3,3,0,"95.4%, n=3","1416 sec, n=3"

In [9]:
new_tables.to_csv("mypsd.csv")